.text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#grosserText {
    font-size: 50px;
}

body {
    background-color: black;
}

.startImage {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

#rightImage {
    float: right;
}

#leftImage {
    float: left;
}

#centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prImage {
    width: 500px;
    height: 550px;
    object-fit: cover;
}

.Games {
    width: 600px;
    height: 300px;
    object-fit: cover;
}

#mittelgrosserText {
    font-size: 40px;

}

.texttext {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
}