.text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#grosserText {
    font-size: 50px;
}

body {
    background-color: black;
}

.startImage {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

#rightImage {
    float: right;
}